/* ------- Override Bootstrap Variables -------- */

/* change the primary theme color to red */
$theme-colors: (
  primary: black,
  secondary: black,
);

/* finally, import Bootstrap to set the changes! */
@import "../node_modules/bootstrap/scss/bootstrap";

/* --------------------------------------------- */

/* --------------- Extra Sass ------------------ */

/* stuff originally from regular css */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: white; /*#dfe9ed;*/
  height: 100%;
  color: black;
}

h1::selection,
p::selection {
  background: rgba(255, 255, 255, 0.99);
  color: black;
}

hr {
  background-color: white;
}

p {
  font-weight: 400;
}

.gem,
.gem:hover {
  color: white;
}

.lead {
  font-weight: 200;
}

.follow {
  font-weight: 300;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  transition: color 0.5s;
}

.navbar-brand:hover {
  color: rgb(120, 120, 120) !important;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.92);
  font-weight: 300;
}

.jumbotron {
  background: linear-gradient(
    133deg,
    rgba(4, 1, 71, 1) 0%,
    rgba(6, 4, 131, 1) 25%,
    rgba(255, 219, 194, 1) 96%,
    rgba(255, 236, 223, 1) 100%
  );
  margin-top: 4.5rem;
  color: white;
}

.footer {
  background: black;
}

.nav-item {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 1); /*#ffdbc2da; #e9ecf2*/
  color: white;
}

.navbar-light .nav-item .nav-link,
.navbar-light .nav-item .nav-link:hover {
  color: inherit;
  transition: color 0.3s;
}

// .active {
//   border-bottom: 0.25rem solid black;
// }

.copyright {
  font-weight: 100;
  font-size: 0.85rem;
}

.btn {
  font-weight: 300;
  font-size: 1rem;
  border-width: 0px;
  border-radius: 7px;
}

.btn:focus {
  box-shadow: none !important;

  transition: transform 0.1s;
}

.btn:active {
  transform: translateY(3px);
  transition: transform 0.1s;
}

/* ------------ ANIMATIONS!!! -------------- */

@keyframes heroAnimation {
  0% {
    transform: rotate(0) translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
}

.heroToAnimate {
  opacity: 0;
  animation: heroAnimation 0.75s forwards 0.5s ease;
}

@keyframes buttonIconAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.btn:hover .buttonIconToAnimate {
  animation: buttonIconAnimation 0.5s 1 0s ease-in-out;
}

a:hover .gem {
  animation: buttonIconAnimation 0.5s 1 0s ease-in-out;
}

/* .point-down:after {
    content: "👋";
}

.point-down:hover:after {
    content: "👇";
} */
